* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    height: 40%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgb(80, 83, 255);
    padding: 2rem;
}

.button {
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
}

.active {
    background-color: red;
}