* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blanchedalmond;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    height: 40%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid coral;
    padding: 2rem;
}

.button {
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
}

.active {
    background-color: red;
}